@font-face {
    font-family: 'fakt';
    src: url('./fonts/FaktPro-Normal.otf') format("opentype");
}

@font-face {
    font-family: 'faktBlond';
    src: url('./fonts/FaktPro-Blond.otf') format("opentype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "fakt", sans-serif;
}

.sliderImg {
    object-fit: cover;
    height: 83vh;
    opacity: 0.8;
}

.sliderImgBg {
    background-color: rgba(0, 0, 0);
}

.carousel-caption {
    display: flex;
    flex-direction: column;
}

.carouselText {
    font-size: 25px;
    font-family: 'faktBlond', sans-serif;
    text-align: left;
}

.carouselArtist {
    font-size: 100px;
    text-align: left;
}

/* CSS for SliderPreview Component */

.sliderPreviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    background-color: #FFEDD1;
}

.sliderPreviewImg {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.previewImg {
    width: 136px;
    height: 90px;
}

.sliderPreviewContainer .mainTitle {
    font-size: 25px;
}

.sliderPreviewContainer .title {
    font-size: 12px;
}

.sliderPreviewContainer .subtitle {
    font-size: 18px;
    word-wrap: break-word;
}

.sliderPreviewContainer .view {
    font-size: 18px
}

.sliderPreviewContainer .container {
    max-width: 1920px;
    margin: 0px 100px;
}

.progress,
.progressStacked {
    --bs-progress-height: 3px !important;
    --bs-progress-bar-bg: #000000 !important;
}

/* Latest works section */

.latestWorksSection {
    font-size: 50px;
    text-align: center;
    margin: 100px 0px;
}

/* Carousel Css */

.carouselContainer {
    height: 552px;
    /* margin-left: 50px; */
}

.carouselImg {
    height: 100%;
    object-fit: cover;
    margin-bottom: 50px;
}

/* Swiper CSS (part of Carousel) */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullets {
    display: none;
}

.swiper-slide {
    text-align: left;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.slide-1 {
    width: 30vw !important;
    margin-left: 50px;
}

.slide-2 {
    width: 20vw !important;
}

.slide-3 {
    width: 40vw !important;
}

.slide-4 {
    width: 30vw !important;
    margin-right: 50px;
}

.carouselTextBox {
    margin: 20px 0px;
}

.swiper-slide h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.swiper-slide h2 {
    font-size: 20px;
    font-family: 'faktBlond', sans-serif;
    line-height: 150%;
}

.swiper-slide h3 {
    font-size: 12px;
    color: #555555;
}

/* CSS for Hero component */

.heroImage {
    height: 100vh;
    background-image: url(./HeroImage-desktop@2x.jpg);
    background-position: center;
    background-size: cover;
}

.heroContainer {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroText {
    color: white;
    margin-left: 97px;
    text-align: left;
}

.heroTitle {
    font-size: 25px;
    margin-bottom: 18px;
    font-family: "faktBlond", sans-serif !important;
}

.heroList {
    list-style: none;
    padding: 0;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 2px;
}

/* CSS for subscribe component */

.subscribeContainer {
    height: 432px;
    background-color: #FFEDD1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribeContainer .textBox {
    display: flex;
    justify-content: center;
    max-width: 1920px;
}

.columnTitle {
    font-size: 40px;
}

.columnSubscribeText {
    font-size: 25px;
    font-family: "faktBlond", sans-serif !important;
    margin-left: 140px;
}

.consentText {
    font-size: 18px;
    width: 60%;
}

.column-1 .leftTitle {
    margin-bottom: 50px;
}

.column-2 .topBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    align-items: end;
}

/* CSS stylings for ArtWorkGrid */

.artWorkContainer {
    max-width: 1920px !important;
    margin: 127px 0px;
}

.artWorkRow {
    height: 100%;
}

.artWorkFeature {
    background-image: url(/ArtworkGrid-1@2x.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 70px;
}

.artWorkTitleBox {
    margin-left: 100px;
    margin-top: 69px;
    color: #ffffff;
}

.artWorkTitle {
    font-family: "faktBlond", sans-serif !important;
    font-size: 25px;
}

.artWorkSubtitle {
    font-size: 50px;
}

.artWorkPicture {
    width: 100%;
}

.artWorkPictureDiv h1 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.artWorkPictureDiv h2 {
    font-size: 20px;
    font-family: 'faktBlond', sans-serif;
    line-height: 150%;
}

.artWorkPictureDiv h3 {
    font-size: 12px;
    color: #555555;
}

/* CSS for Footer component */

.footerContainer {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
}

.footerContainer .textBox {
    max-width: 1920px;
}

.columnTitle {
    font-size: 40px;
}

.columnFooterText {
    font-size: 25px;
    font-family: "faktBlond", sans-serif !important;
}

.bottomFooterText {
    font-size: 18px;
}

.column-1 .leftTitle {
    margin-bottom: 50px;
}

.column-2 .topBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    align-items: end;
}

.footerContainer .topRow {
    margin-bottom: 50px;
}

.footerContainer .bottomRow {
    max-width: 1920px;
}

.topBoxTagline {
    font-size: 12px;
    text-transform: uppercase;
}

.footerList {
    list-style: none;
    text-align: left;
    padding: 0;
    font-size: 18px;
}

/* Media queries for under 992px width screens */

@media (max-width: 992px) {
    .latestCol {
        display: none;
    }

    .sliderPreviewContainer .title {
        font-size: 10px;
    }

    .sliderPreviewContainer .subtitle {
        font-size: 14px;
    }

    .sliderPreviewContainer .view {
        font-size: 14px
    }

    .sliderPreviewContainer .container {
        margin: 0px 0px;
    }

    .heroImage {
        background-image: url(./HeroImage-tablet@2x.jpg)
    }
}

/* Media queries for under 768px width screens */

@media (max-width: 768px) {
    .sliderImg1 {
        object-position: 20% 50%;
    }

    .previewImg {
        width: 56px;
        height: 74px;
    }

    .carouselText {
        font-size: 16px;
    }

    .carouselArtist {
        font-size: 40px;
    }

    .sliderPreviewContainer .title {
        font-size: 6px;
    }

    .sliderPreviewContainer .subtitle {
        font-size: 9px;
    }

    .sliderPreviewContainer .view {
        font-size: 9px
    }

    .sliderPreviewContainer .col {
        padding: 4px;
    }

    .latestWorksSection {
        font-size: 25px;
    }

    .carouselContainer {
        height: 552px;
        /* margin-left: 20px; */
    }

    .slide-1 {
        width: 70vw !important;
    }

    .slide-2 {
        width: 50vw !important;
    }

    .slide-3 {
        width: 80vw !important;
    }

    .slide-4 {
        width: 70vw !important;
    }

    .heroImage {
        background-image: url(/HeroImage-mobile@2x.jpg)
    }

    .heroText {
        margin-left: 0px;
    }

    .heroContainer {
        align-items: center;
    }

    .heroTitle {
        font-size: 16px;
    }

    .heroList {
        font-size: 40px;
        line-height: 120%;
    }

    .subscribeContainer .textBox {
        margin: 50px;
    }

    .columnTitle {
        font-size: 25px;
    }

    .titleRight {
        text-align: left;
    }

    .columnSubscribeText {
        font-size: 14px;
        font-family: "faktBlond", sans-serif !important;
        margin-left: 10vw;
    }

    .consentText {
        font-size: 14px;
        width: 80%;
    }

    .artWorkTitleBox {
        margin-left: 35px;
        margin-top: 29px;
        color: #ffffff;
    }

    .artWorkFeature {
        height: 60vh;
    }

    .artWorkTitle {
        font-size: 16px;
    }

    .artWorkSubtitle {
        font-size: 25px;
    }
    .topBoxTagline {
        font-size: 10px;
    }
    .footerContainer .columnTitle {
        font-size: 20px;
    }
    .footerContainer .columnFooterText {
        font-size: 14px;
    }
    .footerList {
        font-size: 14px;
    }
    .bottomFooterText {
        font-size: 14px;
    }
    .bottomFooterBox {
        flex-direction: column;
    }
}