@font-face {
    font-family: 'fakt';
    src: url('./fonts/FaktPro-Normal.otf') format("opentype");
}

@font-face {
    font-family: 'faktBlond';
    src: url('./fonts/FaktPro-Blond.otf') format("opentype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "fakt", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.sliderImg {
    object-fit: cover;
    height: 83vh;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
}

.carouselText {
    font-size: 25px;
    font-family: 'faktBlond', sans-serif;
    text-align: left;
}

.carouselArtist {
    font-size: 100px;
    text-align: left;
}

/* CSS for SliderPreview */

.sliderPreviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    background-color: #FFEDD1;
}

.sliderPreviewImg {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.previewImg {
    width: 136px;
    height: 90px;
}

.sliderPreviewContainer .mainTitle {
    font-size: 25px;
}

.sliderPreviewContainer .title {
    font-size: 12px;
}

.sliderPreviewContainer .subtitle {
    font-size: 18px;
    word-wrap: break-word;
}

.sliderPreviewContainer .view {
    font-size: 18px
}

.sliderPreviewContainer .container {
    max-width: 1920px;
    margin: 0px 100px;
}

.progress,
.progressStacked {
    --bs-progress-height: 3px !important;
    --bs-progress-bar-bg: #000000 !important;
}

@media (max-width: 992px) {
    .latestCol {
        display: none;
    }

    .sliderPreviewContainer .title {
        font-size: 10px;
    }

    .sliderPreviewContainer .subtitle {
        font-size: 14px;
    }

    .sliderPreviewContainer .view {
        font-size: 14px
    }

    .sliderPreviewContainer .container {
        margin: 0px 0px;
    }
}

@media (max-width: 768px) {
    .previewImg {
        width: 56px;
        height: 74px;
    }

    .carouselText {
        font-size: 16px;
    }

    .carouselArtist {
        font-size: 40px;
    }
}